@import "src/presets";

.wrapper {
  @include screenMask($dialog-z-index);
  background: white;

  button {
    display: flex;
    border-radius: 10px;
    border: 1px solid #767676;
    padding: 2vh 5vw;
    width: 80vw;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    .icon_google {
      width: 32px;
      height: 32px;
      margin-right: 30px;
    }
  }
}