@import 'src/presets';

.wrapper {
    margin-top: 14vh;

    h2 {
        margin-bottom: 2vh;
        font-weight: 500;
    }

    .schedule-container {
        display: flex;
        margin-bottom: 4vh;
    }

    .schedule-line {
        margin-left: 1vw;
        margin-right: 5vw;
        border-left: 1.5vw dashed lightgray;
    }

    .schedule-info {
        flex-grow: 1;
    }

    button[class*='card'] {
        margin-top: 2vh;
        width: 65%;
        border-radius: 5vw;
        word-break: keep-all;

        & > div {
            flex-direction: column;
            
            & > div {
                min-width: 100%;
            }
        }
    }

    button.my-card {
        text-align: right;
        float: right;
        border-bottom-right-radius: 0;
        background-color: #a34dff9c;
        color: white;
    }

    button.other-card {
        text-align: left;
        float: left;
        border-bottom-left-radius: 0;
    }

    button.other-card:active {
        background: none;
    }
}
