@import "src/presets";

.wrapper {
  @include screenMask($dialog-z-index);

  .dialog {
    width: 74vw;
    height: 24vh;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.6;

    .message {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-y: auto;
      padding: 30px;
    }

    .buttons {
      height: 25%;
      display: flex;

      button {
        width: 100%;
        font-size: 4vw;

        &.confirm {
          color: #3998f6;
        }

        &.cancel {
          color: #f57171;
        }
      }
    }
  }
}