@import "src/presets";

@mixin cell {
  width: -webkit-calc(100% / 7);
  width: -moz-calc(100% / 7);
  width: calc(100% / 7);

  color: #656565;

  &:first-child {
    color: #db86fa;
  }

  &:last-child {
    color: #6f64ff;
  }
}

.wrapper {
  padding: 2vh 2vw 0 2vw;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5vh;

    select {
      @include hideSelectArrow;
      color: #494949;
      background: none;
      font-size: 5.5vw;
      font-weight: bold;

      &:first-child {
        margin-right: 4vw;
      }
    }
  }

  .days {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;

    .day {
      @include cell;
      text-align: center;
      font-size: 4vw;

      &:first-child, &:last-child {
        color: #656565;
      }
    }
  }

  .dates {
    margin-top: 1.5vh;

    .row {
      display: flex;
      align-items: center;

      .date {
        @include cell;
        height: 12.7vh;
        border-bottom: 1px solid #e9e2f1;
        transition: all ease-in-out .3s;

        &.today {
          .text {
            background: #e4e1e8;
          }
        }

        &.selected {
          .text {
            background: #9e5ade;
            color: whitesmoke;
          }
        }

        &.size-down {
          height: 6.7vh;
        }

        & > div {
          height: fit-content;
          font-size: 4vw;
          padding: 1vh 0;
          display: flex;
          justify-content: center;

          .text {
            border-radius: 50%;
            width: 1.7rem;
            height: 1.7rem;
            line-height: 1.6rem;
            text-align: center;
          }
        }

        &.disabled {
          opacity: .2;
        }

        // 할 일 리스트
        ul {
          @include hideScrollbar;
          max-width: 100%;
          height: 50%;
          overflow-y: auto;
          border-radius: 2px;
          padding: 0 0.4vw;
          transition: height ease-in-out .2s;

          &.reduced {
            height: 5%;
          }

          li {
            padding: 0 0.5vw;
            width: 100%;
            text-align: center;
            font-size: 0.8vh;
            color: whitesmoke;
            line-height: 2vh;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
            border-radius: 2px;

            &.me {
              background: $myColor;
            }

            &.other {
              background: $otherColor;
            }
          }
        }
      }
    }
  }
}