@import "src/presets";

.wrapper {
  background: yellowgreen;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .tab {
    background: #3998f6;
    width: 20vw;
    height: 7vh;

    &.active {
      opacity: 0.5;
    }
  }
}