@import 'src/presets';

@mixin tabBackground($backgroundUrl) {
    background-image: $backgroundUrl;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 80%;
}

.wrapper {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 8px 17px 2px rebeccapurple;
    transition: all 0.5s ease;

    &.hidden {
        margin-top: 10vh;
        box-shadow: none;
    }

    .tab {
        width: 13vw;
        height: 5vh;

        &.active {
            border-bottom: 8px solid #9e5ade;
        }

        .img {
            &.entire {
                @include tabBackground(url(/public/assets/png/calendar.png));
            }

            &.weekly {
                @include tabBackground(url(/public/assets/png/weekly.png));
            }

            &.other {
                @include tabBackground(url(/public/assets/png/love.png));
            }
        }
    }
}
