@import "src/presets";

.wrapper {

  .part {
    padding: 1.8vh 3.5vw;

    h4 {
      margin-bottom: 2vh;
    }

    input {
      width: 100%;
      height: 5vh;
      outline: none;
      border-bottom: 1px solid #cebad7;
      transition: all .3s ease;

      &:focus {
        border-bottom: 2px solid rebeccapurple;
      }
    }

    .datetime {
      select {

      }
    }
  }
}