.wrapper {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .center {
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}