@import "src/presets";

@mixin cell {
  width: 14%;

  color: #656565;

  &:first-child {
    color: #f57171;
  }

  &:last-child {
    color: #3998f6;
  }
}

.wrapper {
  padding: 2vh 2vw 0 2vw;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5vh;

    select {
      @include hideSelectArrow;
      color: #494949;
      background: none;
      font-size: 5.5vw;
      font-weight: bold;

      &:first-child {
        margin-right: 4vw;
      }
    }
  }

  .days {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;

    .day {
      @include cell;
      text-align: center;
      font-size: 4vw;
    }
  }

  .dates {
    margin-top: 1.5vh;

    .row {
      display: flex;
      align-items: center;

      .date {
        @include cell;
        height: 12.7vh;
        border-bottom: 1px solid #e9e2f1;
        transition: all ease-in-out .3s;

        &.today {
          border: 2px solid #c6b2f3;
        }

        &.selected {
          background: #9e5ade;
          color: whitesmoke;
          border-radius: 20%;
        }

        &.size-down {
          height: 6.7vh;
        }

        p {
          //height: 30%;
          height: fit-content;
          font-size: 4vw;
          text-align: right;
          padding: 1vh 4.4vw;
        }

        &.disabled {
          opacity: .3;
        }

        // 할 일 리스트
        ul {
          @include hideScrollbar;
          max-width: 100%;
          max-height: 67%;
          overflow-y: auto;
          border-radius: 2px;
          padding: 0 0.4vw;

          li {
            padding: 0 0.5vw;
            width: 100%;
            text-align: center;
            font-size: 0.8vh;
            color: whitesmoke;
            line-height: 2vh;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
            border-radius: 2px;

            &.me {
              background: $myColor;
            }

            &.other {
              background: $otherColor;
            }
          }
        }
      }
    }
  }
}