@import 'src/presets';

.wrapper {
    margin-bottom: 10vw;
    background: aliceblue;
    border-radius: 4vw;
    padding: 2vh 4vw;

    .days {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1vh;
        padding: 0 8vw;
    }

    .day {
        padding: 0 1vw;
    }
}
