@import 'src/presets';

.wrapper {
    width: 90vw;
    margin: 0 auto;
    padding: 2vh 2vw;
    border-radius: 4vw;
    background: aliceblue;

    .days {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1vh;
        padding: 0 8vw;
    }

    .day {
        padding: 0 1vw;
    }
}
