@import 'src/presets';

.wrapper {
    .dates-container {
        display: flex;
    }

    .dates {
        width: calc(100% / 7);
        width: -webkit-calc(100% / 7);
        width: -moz-calc(100% / 7);
        text-align: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
        color: #636363;

        &.today {
            border-radius: 3vw;
            background: rgb(162, 211, 255);
            color: #000;
            font-weight: 600;
        }
    }
}
