@import 'src/presets';

.wrapper {
    width: 90vw;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 2vh 2vw;
    border-radius: 4vw;
    background: #e4e1e8;

    .days {
        display: flex;
        margin-bottom: 1vh;
        padding: 0 8vw;
    }

    .day {
        width: calc(100% / 7);
        text-align: center;
    }
}
