.wrapper {
  background: #e7e1e7;
  height: 0;
  transition: all ease-in-out .3s;

  &.open {
    height: 36.5vh;
  }

  .header {
    display: flex;
    justify-content: center;
    padding: .3rem 0 .3rem 0;
  }
}