@import "src/presets";

.wrapper {
  @include screenMask($loading-z-index);

  .loading {
    background: url(/public/assets/gif/loading.gif);
    background-size: contain;
    width: 12vw;
    height: 6vh;
  }
}