:global {
  * {
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: unset;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  button {
    outline:none;
    cursor: pointer;
    background-color: Transparent;
  }


  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
  }

  html, body {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 5vw;
  }

  .main {
    width: 550px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.2);
  }

  #root {
    height: 100%;
  }
}