$modal-z-index: 5000;
$dialog-z-index: 10000;
$loading-z-index: 15000;

@mixin screenMask($z-index) {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: $z-index;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 스크롤바 숨김
@mixin hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

// select 태그 화살표 숨김
@mixin hideSelectArrow {
  border-radius:0; /* 아이폰 사파리 보더 없애기 */
  -webkit-appearance:none; /* 화살표 없애기 for chrome*/
  -moz-appearance:none; /* 화살표 없애기 for firefox*/
  appearance: none; /* 화살표 없애기 공통*/
}

// 아이폰11 414x896
// Z-플립 540x1320