@import "src/presets";

@keyframes slide {
  from {
    margin-bottom: -96vh;
  }

  to {
    margin-bottom: 0;
  }
}

@mixin slideOpen($direction) {
  animation: slide 600ms cubic-bezier(0.86, 0, 0.07, 1) $direction;
  //-webkit-transform: translateZ(0);
}

.wrapper {
  @include screenMask($modal-z-index);
  background: transparent;
  align-items: end;

  .sliding-modal {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #767676;
    width: 99%;
    height: 96vh;
    background: white;
    box-shadow: 0 6px 14px 2px;
    transition: all cubic-bezier(0.86, 0, 0.07, 1) .6s;
    margin-bottom: -96vh;

    &.open {
      @include slideOpen(normal);
      margin-bottom: 0;
    }

    &.close {
      margin-bottom: -96vh;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 6%;

      button {
        padding: 1.4vh 2.8vw;

        &.hide {
          visibility: hidden;
        }

        &.cancel {
          color: #767676;
        }

        &.confirm {
          color: #3998f6;
        }

        &:disabled {
          opacity: .5;
        }
      }

      h2 {
        max-width: 64vw;
      }
    }

    .body {
      padding-top: 2vh;
      height: 94%;
      overflow-y: auto;
    }
  }
}