@import "src/presets";

.wrapper {
  @include screenMask($modal-z-index);
  background: transparent;
  align-items: end;

  .sliding-modal {
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #767676;
    width: 99%;
    height: 100%;
    background: white;
    box-shadow: 0 6px 14px 2px;
    transition: top cubic-bezier(0.86, 0, 0.07, 1) .6s;
    top: 100%;

    &.open {
      animation: slide .6s cubic-bezier(0.86, 0, 0.07, 1);
      top: 10%;
    }

    &.close {
      top: 100%;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 6%;

      button {
        padding: 1.4vh 2.8vw;

        &.hide {
          visibility: hidden;
        }

        &.cancel {
          color: #767676;
        }

        &.confirm {
          color: #3998f6;
        }

        &:disabled {
          opacity: .5;
        }
      }

      h2 {
        max-width: 64vw;
      }
    }

    .body {
      padding-top: 2vh;
      height: 100%;
      overflow-y: auto;
    }
  }

  @-webkit-keyframes slide {
    from {
      //margin-bottom: -90vh;
      top: 100%;
    }

    to {
      //margin-bottom: 0;
      top: 10%;
    }
  }
}